<!DOCTYPE HTML>
<html ng-app="todo">
  <head>
  	<title>To Do List</title>
  	<link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">

    <div class="main-container">
      <h1> To Do </h1>
      <form ng-submit="postItem()">
        <input class="text-box" type="text" ng-model="newText" placeholder="What do you need to do?">

      </form>
      <div class="items-container">

      	<div ng-repeat="item in items">
      	</br>
	          	{{item.text}}

	          	<button ng-click="removeItem(itemToRemove)">x</button>

	    </div>   
       
      </div>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/todoService.js"></script>
  </body>
</html>