<!DOCTYPE HTML>
<html ng-app="todo">
  <head>
  	<title>To Do List</title>
  	<link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">

    <div class="main-container">
      <h1> ISHtoDO </h1>
      <form ng-submit="postItem()">
        <input class="text-box" type="text" ng-model="newText" placeholder="What do you need to do?">

      </form>
        <div class="items-container">

        	<div >
            <ul>
              <li ng-repeat="item in items">
               {{item.text}}
                 <button class="remove-button" ng-click="removeItem(item)">x</button>
              </li>
            </ul>
  	       </div>   
        </div>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/todoService.js"></script>
  </body>
</html>